# Ignore virtual environment
env/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

.DS_Store
Thumbs.db

.env

*.log

data/raw/

.coverage
